# These vars are genearlly passed by the api-server when it run the container on the ECS but fill these in if running the code locally on its own

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
GIT_REPOSITORY_URL=
PROJECT_ID=
DEPLOYMENT_ID=
API_SERVER_URL=