# If you update this env dont forget to update the production env too.

# AWS specific
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Backend Image generator container specific
BUILDKIT_HOST=

# Server specific
PORT=3000
BASE_URL=
FRONTEND_URL=
API_SERVER_URL=

# Database specific
DATABASE_URL=
